# Dependencies
node_modules/

# Next.js
.next/
out/

# Database (locale seulement)
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# Environment
.env
.env.local
.env.production.local

# OS
.DS_Store

# Debug
npm-debug.log*
